<div class="row">
    <div class="col-md-12 text-center">
        <h1>Students</h1>
    </div>
</div>


<div class="row">
    <table class="table">
        <thead>
            <th>
                Name
            </th>
            <th>
                Email
            </th>
            <th>
                Date of Birth
            </th>
            <th>
                Telephone
            </th>
            <th>
                Grade
            </th>
            <th>
                Gender
            </th>
            <th>
                Password
            </th>
            <th>
               Action
            </th>
        </thead>
            <tbody>
                <tr *ngFor="let student of students">
                    <td>{{student.name}}</td>
                    <td>{{student.email}}</td>
                    <td>{{student.dob}}</td>
                    <td>{{student.telephone}}</td>
                    <td>{{student.grade}}</td>
                    <td>{{student.gender}}</td>
                    <td>{{student.password}}</td>
                    <td>
                        <a href="student-edit/{{student._id}}" class="btn btn-success">EDIT</a>
                        | <button type="submit" (click)="delStudent(student)" class="btn btn-danger">DELETE</button></td>
                </tr>

            </tbody>
        
    </table>
</div>